/*上部padding  */
html,body{
	width:100%;
	height:100%;
}
.container-fluit,.row-fluit,#mB1{
	height:100%;
	position:relative; 
	padding:0 5px;
}
#mB1{
	padding-top:10px;
}
/*小屏幕菜单按钮  */

#mcMenu{
	position:absolute;
	top:5px;
	left:0px;;
	font-size:10px;
	z-index:999;
}
#mcMenu .fontMenu{
	color:black;
	transition:all 0.5s 0s linear;
}
/*折叠面板样式  */
#managerParent .panel-heading{
	padding:0; 
	height:30px;
	line-height: 30px;
	border-radius:5px;
} 
#managerParent .panel-heading a:hover{
	text-decoration:none;
	color:#000;
}
#managerParent .panel-title{
	height:30px;
	line-height: 30px;
}
#managerParent .panel-title a{
	width: 100%;
	height: 100%;
	display: block;
	text-indent: 10px;
}
#managerParent .panel li{
	height: 20px;
	margin-top: 5px;
}
#managerParent .panel .panel-body{
	padding-right: 0;
	padding-top: 0;
}
#managerParent .panel li a{
	height: 20px;
	padding:0;
	text-align: center;
}
/*内部的iframe  padding是为了中间那个按钮*/
#innerIframeContainer1{
	background-color:#eee;
	height:100%;
	padding:0 0 0 6px;	
	position:relative;
}
/* 中间的点击框 */
#midToggleBar{
	position:absolute;
	/* background-color:#ff00ff; */
	height:0;
	width:0;
	border:8px transparent solid;
	border-right:8px red solid;
	top:48%;
	left:-10px;
}
#managerInnerIframe{
	display:block;
}