<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newrmgps.mybatis.dao.TclientMapper" >
  <resultMap id="BaseResultMap" type="com.newrmgps.mybatis.pojo.Tclient" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CLIENTNAME" property="clientname" jdbcType="VARCHAR" />
    <result column="CREATER_USERID" property="createrUserid" jdbcType="INTEGER" />
    <result column="CONTACT_NAME" property="contactName" jdbcType="VARCHAR" />
    <result column="CONTACT_PHONE" property="contactPhone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, CREATETIME, CLIENTNAME, CREATER_USERID, CONTACT_NAME, CONTACT_PHONE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tclient
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <!--7/20添加通过姓名查询所有 -->
  <select id="selectByTclientName" parameterType="string" resultType="int">
      select count(id) from tclient where CLIENTNAME = #{clientname};
  </select>
  <!--7/27号通过字段查询出所有的客户  -->
  <select id="queryAll" parameterType="com.newrmgps.mybatis.pojo.TclientList" resultType="com.newrmgps.mybatis.pojo.TclientList">
   select c.CLIENTNAME,c.CREATETIME,c.CONTACT_NAME,c.CONTACT_PHONE,u.USER_NAME 
   from tclient c  INNER JOIN tuser u  on c.id = u.clientid 
   <if test="clientname != null and clientname != '' ">
     and c.CLIENTNAME LIKE '%${clientname}%'
   </if>
   <if test="user_name != null and user_name != '' ">
     and u.USER_NAME LIKE '%${user_name}%' 
   </if>
   <if test=" days!= null  ">
    and TO_DAYS(NOW())-TO_DAYS(c.CREATETIME) &lt;#{days};
   </if>
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tclient
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <!-- 7.28添加简单批量删除客户  -->
  <delete id = "deleteBydartId" parameterType="java.util.ArrayList">
   delete from  tclient <where>
   <foreach collection="arrayList"  item="item" open="id  in ("  close=")" separator=",">
   #{item}
   </foreach>
   </where> 
  </delete>
  <insert id="insert" parameterType="com.newrmgps.mybatis.pojo.Tclient" >
<!--   <selectKey keyColumn="id" keyProperty="id" order="AFTER"
		resultType="int">
		SELECT LAST_INSERT_ID()
	</selectKey>  -->
    insert into tclient (CREATETIME, CLIENTNAME, 
      CREATER_USERID, CONTACT_NAME, CONTACT_PHONE
      )
    values ( #{createtime,jdbcType=TIMESTAMP}, #{clientname,jdbcType=VARCHAR}, 
      #{createrUserid,jdbcType=INTEGER}, #{contactName,jdbcType=VARCHAR}, #{contactPhone,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.newrmgps.mybatis.pojo.Tclient" >
  <selectKey keyColumn="id" keyProperty="id" order="AFTER"
		resultType="int">
		SELECT LAST_INSERT_ID()
	</selectKey>
    insert into tclient
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="clientname != null" >
        CLIENTNAME,
      </if>
      <if test="createrUserid != null" >
        CREATER_USERID,
      </if>
      <if test="contactName != null" >
        CONTACT_NAME,
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientname != null" >
        #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="createrUserid != null" >
        #{createrUserid,jdbcType=INTEGER},
      </if>
      <if test="contactName != null" >
        #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        #{contactPhone,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newrmgps.mybatis.pojo.Tclient" >
    update tclient
    <set >
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="clientname != null" >
        CLIENTNAME = #{clientname,jdbcType=VARCHAR},
      </if>
      <if test="createrUserid != null" >
        CREATER_USERID = #{createrUserid,jdbcType=INTEGER},
      </if>
      <if test="contactName != null" >
        CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      </if>
      <if test="contactPhone != null" >
        CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newrmgps.mybatis.pojo.Tclient" >
    update tclient
    set CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CLIENTNAME = #{clientname,jdbcType=VARCHAR},
      CREATER_USERID = #{createrUserid,jdbcType=INTEGER},
      CONTACT_NAME = #{contactName,jdbcType=VARCHAR},
      CONTACT_PHONE = #{contactPhone,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>