<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.newrmgps.mybatis.dao.TuserMapper" >
  <resultMap id="BaseResultMap" type="com.newrmgps.mybatis.pojo.Tuser" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="USER_CODE" property="userCode" jdbcType="VARCHAR" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="USER_SEX" property="userSex" jdbcType="BIT" />
    <result column="USER_TYPEID" property="userTypeid" jdbcType="CHAR" />
    <result column="USER_STATUS" property="userStatus" jdbcType="BIT" />
    <result column="USER_PASSWORD" property="userPassword" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="CREATER_USERID" property="createrUserid" jdbcType="INTEGER" />
    <result column="CLIENTID" property="clientid" jdbcType="INTEGER" />
    <result column="DEL" property="del" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, USER_CODE, USER_NAME, USER_SEX, USER_TYPEID, USER_STATUS, USER_PASSWORD, CREATETIME, 
    CREATER_USERID, CLIENTID, DEL
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tuser
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <!--7月27根据所属客户id查询用户id  -->
   <select id="selectByclientId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tuser where  CLIENTID = #{clientid}
  </select>
  <!-- 7月27号根据父id查询出所有子用户 -->
   <select id="selectBycreateUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
     select
    <include refid="Base_Column_List" />
    from tuser where  CREATER_USERID = #{CREATER_USERID};
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tuser
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.newrmgps.mybatis.pojo.Tuser" >
    insert into tuser ( USER_CODE, USER_NAME, 
      USER_SEX, USER_TYPEID, USER_STATUS, 
      USER_PASSWORD, CREATETIME, CREATER_USERID, 
      CLIENTID, DEL)
    values (jdbcType=INTEGER}, #{userCode,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=BIT}, #{userTypeid,jdbcType=CHAR}, #{userStatus,jdbcType=BIT}, 
      #{userPassword,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{createrUserid,jdbcType=INTEGER}, 
      #{clientid,jdbcType=INTEGER}, #{del,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.newrmgps.mybatis.pojo.Tuser" >
    insert into tuser
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userCode != null" >
        USER_CODE,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="userSex != null" >
        USER_SEX,
      </if>
      <if test="userTypeid != null" >
        USER_TYPEID,
      </if>
      <if test="userStatus != null" >
        USER_STATUS,
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="createrUserid != null" >
        CREATER_USERID,
      </if>
      <if test="clientid != null" >
        CLIENTID,
      </if>
      <if test="del != null" >
        DEL,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userCode != null" >
        #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=BIT},
      </if>
      <if test="userTypeid != null" >
        #{userTypeid,jdbcType=CHAR},
      </if>
      <if test="userStatus != null" >
        #{userStatus,jdbcType=BIT},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createrUserid != null" >
        #{createrUserid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null" >
        #{clientid,jdbcType=INTEGER},
      </if>
      <if test="del != null" >
        #{del,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.newrmgps.mybatis.pojo.Tuser" >
    update tuser
    <set >
      <if test="userCode != null" >
        USER_CODE = #{userCode,jdbcType=VARCHAR},
      </if>
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        USER_SEX = #{userSex,jdbcType=BIT},
      </if>
      <if test="userTypeid != null" >
        USER_TYPEID = #{userTypeid,jdbcType=CHAR},
      </if>
      <if test="userStatus != null" >
        USER_STATUS = #{userStatus,jdbcType=BIT},
      </if>
      <if test="userPassword != null" >
        USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="createrUserid != null" >
        CREATER_USERID = #{createrUserid,jdbcType=INTEGER},
      </if>
      <if test="clientid != null" >
        CLIENTID = #{clientid,jdbcType=INTEGER},
      </if>
      <if test="del != null" >
        DEL = #{del,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.newrmgps.mybatis.pojo.Tuser" >
    update tuser
    set USER_CODE = #{userCode,jdbcType=VARCHAR},
      USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_SEX = #{userSex,jdbcType=BIT},
      USER_TYPEID = #{userTypeid,jdbcType=CHAR},
      USER_STATUS = #{userStatus,jdbcType=BIT},
      USER_PASSWORD = #{userPassword,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      CREATER_USERID = #{createrUserid,jdbcType=INTEGER},
      CLIENTID = #{clientid,jdbcType=INTEGER},
      DEL = #{del,jdbcType=BIT}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>